header {
	background-color: rgb(0, 20, 111);
	color: white;
	margin-top: 55px;
	font-weight: bold;
	font-size: 15px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	background-color: rgb(0, 20, 111);
	color: white;
	text-align: left;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 100px;
	line-height: .8cm;
	font-weight: 400;
	font-size: 15px;
	font-family: monospace;
}

a:link {
	color: white; 
	background-color: transparent; 
	text-decoration: underline;
  }
  
  a:visited {
	color: white;
	background-color: transparent;
	text-decoration: underline;
  }
  
  a:hover {
	color: rgb(0, 20, 111);
	background-color: white;
	text-decoration: underline;
  }
  
  a:active {
	color: rgb(0, 20, 111);
	background-color: white;
	text-decoration: underline;
  }