body {
	background-color: rgb(0, 20, 111);
}

header {
	color: white;
	position: fixed;
	top: 55px;
	left: 50px;
	font-weight: bold;
	font-size: large;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
	color: white;
	text-align: left;
	margin-top: 50px;
	margin-left: 700px;
	margin-right: 100px;
	line-height: .8cm;
	font-weight: 400;
	font-size: 15px;
	font-family: monospace;
}

altText {
	color: white;
	position: fixed;
	text-align: left;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: .8cm;
	font-weight: 400;
	font-size: 15px;
	font-family: monospace;
	z-index: 2;
}

.positioned {
	position: absolute;
	top: 30px;
	right: 400px;
	z-index: 1;
  }

a:link {
	color: white;
	background-color: transparent;
	text-decoration: underline;
}

a:visited {
	color: white;
	background-color: transparent;
	text-decoration: underline;
}

a:hover {
	color: rgb(0, 20, 111);
	background-color: white;
	text-decoration: underline;
	transition: 0.3s;
}

a:active {
	color: rgb(0, 20, 111);
	background-color: white;
	text-decoration: underline;
}